# COLUMN TRANSFORMER

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\jyoti\\OneDrive\\Desktop\\New folder\\covid_toy.csv")

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.impute  import SimpleImputer  #for missing values imputation(filling)

from sklearn.preprocessing import OneHotEncoder #Category ==> Sub-category => column craetion
from sklearn.preprocessing import OrdinalEncoder #Sub-category ==Convert INTO NUMBERS

In [8]:
x= df.drop(columns=['has_covid'])
y=df['has_covid']

In [11]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

# Manually type output

In [12]:
#Adding Simple Imputer to fever column

si=SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

x_test_fever = si.fit_transform(x_test[['fever']])

In [13]:
#x_train

In [14]:
x_train_fever.shape

(80, 1)

# STEP -2

# Ordinal encoding

In [15]:
oe= OrdinalEncoder(categories=[['Mild', 'Strong']])

x_train_cough = oe.fit_transform(x_train[['cough']])

In [16]:
#x_train.head()
x_train_cough.shape

(80, 1)

# STEP - 3

# OneHotEncoding===> Gender , City

In [17]:
ohe = OneHotEncoder(drop ='first', sparse= False)
x_train_gender_city = ohe.fit_transform(x_train[['gender', 'city']])

C:\Users\jyoti\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [18]:
x_train_gender_city.shape

(80, 4)

# Step - 4

# Age extraction

In [20]:
x_train_age = x_train.drop(columns = ['gender', 'fever', 'cough','city']).values

In [22]:
x_train_age.shape

(80, 1)

# STEP -5

# CONCATENATE ALL THE DATA

In [24]:
x_train_transformed = np.concatenate((x_train_age, x_train_fever,x_train_gender_city,
                                     x_train_cough), axis= 1)

In [25]:
x_train_transformed.shape

(80, 7)

# We can do this in one cell using column Transformer

In [26]:
from sklearn.compose import ColumnTransformer

In [28]:
transformer = ColumnTransformer(transformers= [
    ('a',SimpleImputer(),['fever']),
    ('b', OrdinalEncoder(categories=[['Mild' , 'Strong']]), ['cough']),
    ('c', OneHotEncoder(sparse=False , drop ='first'), ['gender', 'city'])
], remainder = 'passthrough')

In [29]:
transformer.fit_transform(x_train).shape

C:\Users\jyoti\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)