In [1]:
#Feature Engineering ==> Data struture format ==> ML , DL, models apply ==> Performance evaluate ==> output show
# Performance evaluate ==> output show

In [2]:
#Data (100%)==> Independent_data(x)(90%) + Dependent_Data/ Target_Data(y) (10%)

#Independent_Data(x)= Training_data(x_train),testing_data(x_test)

#Dependent_data(y)=  Training_data(y_train) , Testing_data(y_test)

In [3]:
#Data =x,y ==>(x_train , x_test),(y_train , y_test)

In [4]:
import numpy as np
import pandas as pd

In [5]:
df= pd.read_csv("C:\\Users\\jyoti\\OneDrive\\Desktop\\New folder\\covid_toy.csv")

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [7]:
df.shape #total data 100 rows and 6 columns

(100, 6)

In [8]:
#step 1. Divide data into Independent and Dependent data
x=df.drop(columns =['has_covid'], axis=1)
y=df['has_covid']

In [9]:
print("Independent Data shape =" , x.shape)
print("Depdendent Data shape =" , y.shape)

Independent Data shape = (100, 5)
Depdendent Data shape = (100,)

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state =42)

In [15]:
print("X_train data shape =" , x_train.shape)
print("X_test data shape =" , x_test.shape)
print("Y_train data shape =" , y_train.shape)
print("Y_test data shape =" , y_test.shape)

X_train data shape = (80, 5)
X_test data shape = (20, 5)
Y_train data shape = (80,)
Y_test data shape = (20,)

In [16]:
df= pd.read_csv("C:\\Users\\jyoti\\OneDrive\\Desktop\\New folder\\click.csv")

In [17]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Gender', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [18]:
df.shape

(10000, 10)

In [19]:
# 1. x shape
# 2 y shape 
# 3 x_train
# 4 x_test
# 5 y_train
# 6 y_test

In [22]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,2016-06-09 21:43:05,0
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,2016-01-16 17:56:05,0
2,44.40,30.0,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,2016-06-29 10:50:45,0
3,59.88,28.0,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,2016-06-21 14:32:32,0
4,49.21,30.0,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,2016-07-21 10:54:35,1

In [26]:
df.shape

(10000, 10)

In [25]:
x=df.drop(columns =['Clicked on Ad'], axis=1)
y=df['Clicked on Ad']

In [27]:
print("Independent Data shape =" , x.shape)
print("Depdendent Data shape =" , y.shape)

Independent Data shape = (10000, 9)
Depdendent Data shape = (10000,)

In [39]:
from sklearn.model_selection import train_test_split

In [41]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state =42)

In [30]:
print("X_train data shape =" , x_train.shape)
print("X_test data shape =" , x_test.shape)
print("Y_train data shape =" , y_train.shape)
print("Y_test data shape =" , y_test.shape)

X_train data shape = (8000, 9)
X_test data shape = (2000, 9)
Y_train data shape = (8000,)
Y_test data shape = (2000,)

In [34]:
df= pd.read_csv("C:\\Users\\jyoti\\OneDrive\\Desktop\\New folder\\Attrition.csv")

In [35]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [36]:
df.shape

(1470, 35)

In [44]:
x=df.drop(columns =['Attrition'], axis=1)
y=df['Attrition']

In [45]:
print("Independent Data shape =" , x.shape)
print("Depdendent Data shape =" , y.shape)

Independent Data shape = (1470, 34)
Depdendent Data shape = (1470,)

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state =42)

In [48]:
print("X_train data shape =" , x_train.shape)
print("X_test data shape =" , x_test.shape)
print("Y_train data shape =" , y_train.shape)
print("Y_test data shape =" , y_test.shape)

X_train data shape = (1176, 34)
X_test data shape = (294, 34)
Y_train data shape = (1176,)
Y_test data shape = (294,)